@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1da1f2;
}
.wrapper {
  background: #fff;
  border-radius: 15px;
  max-width: 475px;
  width: 100%;
  padding: 25px 25px 15px 25px;
}
.input-box {
  padding-top: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.input-box .tweet-area {
  position: relative;
  min-height: 130px;
}
.tweet-area .placeholder {
  position: absolute;
  margin-top: -3px;
  font-size: 22px;
  color: #98a5b1;
  pointer-events: none;
}
.tweet-area .input {
  outline: none;
  font-size: 17px;
  word-wrap: break-word;
}
.tweet-area .readonly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.input-box .privacy {
  color: #1da1f2;
  margin: 15px 0;
  padding: 7px 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  transition: background 0.2s ease;
}
.input-box .privacy:hover {
  background: #e7f5fe;
}
.privacy i {
  font-size: 18px;
}
.privacy span {
  font-size: 15px;
  font-weight: 600;
  margin-left: 7px;
}
.bottom {
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: space-between;
}
.bottom .icons {
  display: inline-flex;
}
.icons li {
  list-style: none;
  height: 38px;
  width: 38px;
  margin: 0 2px;
  font-size: 20px;
  background: #e7f5fe;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}